aeidon
attrs
Automat
beautifulsoup4
blinker
certifi
cffi
chardet
cloud-init
colorama
command-not-found
configobj
constantly
cryptography
Cython
dbfread
dbus-python
diff-match-patch
distro
distro-info
entrypoints
Fiona
Flask
Flask-Jsonpify
geopandas
gunicorn
html5lib
httplib2
hyperlink
idna
importlib-metadata
incremental
iniparse
itsdangerous
Jinja2
jsonpatch
jsonpointer
jsonschema
keyring
l20n
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lxml
MarkupSafe
more-itertools
munch
netifaces
numpy
oauthlib
pandas
pexpect
phply
ply
pyasn1
pyasn1-modules
pycountry
pycparser
pyenchant
PyGObject
PyHamcrest
PyJWT
pymacaroons
PyNaCl
pyOpenSSL
pyproj
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-Levenshtein
pytz
PyYAML
requests
requests-unixsocket
ruamel.yaml
SecretStorage
service-identity
Shapely
simplejson
six
sos
soupsieve
ssh-import-id
systemd-python
translate-toolkit
Twisted
ubuntu-advantage-tools
ufw
unattended-upgrades
urllib3
vobject
wadllib
webencodings
Werkzeug
zipp
zope.interface
